<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	//- Tailwind CSS
	//- link(href='https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css', rel='stylesheet')
	//- Bootstrap CSS
	link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css')
	//- Google Fonts
	link(href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Open+Sans:400,700|Staatliches&display=swap', rel='stylesheet')
	//- Font Awesome
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css')

	//- Estilos locales
	link(rel="stylesheet", href="/css/style.css")
	title #{titulo} | #{pagina}
body(class=clase)
	include includes/header
	block slider
	block contenido
	include includes/footer
