extends ../layout/index
block contenido
	main.container.mt-5
		.row
			.col-md-5
				img.img-fluid(src="img/nosotros.jpg", alt="Imagne Nosotros")
			.col-md-7
				h1 #{pagina}
				blockquote Vestibulum eu nulla vestibulum, faucibus lacus sit amet, volutpat justo. Aliquam et sapien in quam lobortis egestas. In auctor purus quis ultrices accumsan. Mauris fringilla diam vitae neque maximus, sit amet elementum lorem pretium. Aliquam finibus lectus libero, eu eleifend massa ullamcorper eget.
				p Vestibulum metus sem, tincidunt vel auctor convallis, scelerisque ut mauris. Pellentesque imperdiet lorem sed augue molestie maximus.
				p Donec quis felis aliquet, suscipit ipsum ac, fermentum nisi. Nam ante magna, ullamcorper quis iaculis non, lobortis eu enim. Pellentesque elementum, turpis maximus luctus rutrum, urna eros eleifend ipsum, mattis imperdiet mi risus vitae nunc. Curabitur sagittis et tortor at ullamcorper.
	.listado-iconos
		.container.mt-5.py-5.text-center
			.row
				.col-md-4
					img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
					h2.mb-4 Seguridad
					p Quisque et urna a justo lobortis tincidunt sed vel nunc.
				.col-md-4
					img(src="img/icono_destinos.svg", class="img-fluid mb-4")
					h2.mb-4 Mejores Destinos
					p Quisque et urna a justo lobortis tincidunt sed vel nunc.
				.col-md-4
					img(src="img/icono_precios.svg", class="img-fluid mb-4")
					h2.mb-4 Mejor Precio
					p Quisque et urna a justo lobortis tincidunt sed vel nunc.