extends ../layout/index
block contenido
	main.container.mt-5
		h1.text-center.mb-5 #{pagina}

		.row
			.col-md-12
				include ../layout/partials/testimoniales
			.col-md-12
				h2.text-center Agrega un Testimonial
				if(errores)
						each error in errores
							.alert.alert-danger.textcenter=error.mensaje
				.row.justify-content-center
					.col-md-8
						form(action="/testimoniales", method="POST")
							.form-group
								label(for="nombre") Nombre
								input(type="text", class="form-control", placeholder="Tu nombre", name="nombre", id="nombre", value=nombre)
							.form-group
								label(for="correo") Correo Electrónico
								input(type="email", class="form-control", placeholder="Tu correo electrónico", name="correo", id="correo", value=correo)
							.form-group
								label(for="mensaje") Mensaje
								textarea#mensaje(class="form-control", name="mensaje", rows="3", placeholder="Escribe un mensaje")=mensaje
							input.btn.btn-success.btn-block(type="submit", value="Agregar")