extends ../layout/index
block contenido
	main.container.mt-5
		.row
			.col-md-5
				img(src=`/img/destinos_${viaje.imagen}_ln.jpg`, alt="viaje.imagen", class="img-fluid")
			.col-md-7
				h1 #{viaje.titulo}
				p
					i.fas.fa-calendar-alt.fawe
					|  Fecha ida: #{viaje.fecha_ida} - Fecha vuelta: #{viaje.fecha_vuelta}
				p
					i.fas.fa-dollar-sign.fawe
					|  #{viaje.precio} MXN.
				p
					i.fas.fa-users.fawe
					|  #{viaje.disponibles} Disponibles
				p= viaje.descripcion