extends ../layout/index
block slider
	.slider
		h1 Rio de Janeiro
		em aventura

block contenido
	main.container.mt-5
		h2.text-center.mb-5 Sobre Nosotros
		.row.mb-5
			.col-md-6
				p Integer tempus, diam non eleifend mollis, orci massa vestibulum mauris, eget ullamcorper est augue ac neque. Aliquam diam lacus, ullamcorper quis ullamcorper sit amet, commodo id massa. Duis arcu sem, pretium nec hendrerit quis, posuere eget dui. Etiam molestie ac sapien ornare tempor.

				p Donec magna odio, finibus ut aliquam eu, sagittis a neque. Cras porttitor ipsum tellus, vitae laoreet est ornare eget. Etiam at risus metus. Quisque lorem metus, suscipit quis ipsum eget, efficitur luctus nisl. In vestibulum ex vitae neque suscipit pulvinar.
			.col-md-6
				img(src="/img/inicio_nosotros.jpg", alt="Nosotros", class="img-fluid")

		h2.text-center.mb-5 Próximos Viajes
		include ../layout/partials/viajes

	.descuento
		.container
			.row
				.col-md-6
					.contenido
						h3 5% de Descuento
						p.titulo Viaje a Canada
						p.fecha 20 de Marzo de 2020 - 28 de Marzo de 2020
						p.precio $2,500 USD
	.container
		h2.text-center.my-5 Testimoniales
		include ../layout/partials/testimoniales